name: CI

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-20.04" ]
        ruby:
          - '3.0'
          - '3.1'
          - '3.2'
        gemfile:
          - gemfiles/rails_6.1.gemfile
          - gemfiles/rails_7.0.gemfile
          - gemfiles/rails_7.1.0.alpha.gemfile
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      RAILS_ENV: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rspec
